@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Alumni Corporation Board";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var nowCst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone);
}
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta{
    <meta name="description" content="">
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="~/">Home</a></li>
                <li><a href="@Url.Action("Index", "Home")">Alumni</a></li>
                <li class="active">ACB</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="lead">
                The Alumni Corporation Board has met formally each month since May 2008 and started during the re-colonization of the chapter in 2006. 
                Most meetings are conference calls with the exceptions of Homecoming and St. Pats where meetings take place at the chapter house.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="https://www.dropbox.com/sh/ddosmece25eor08/AACsGKRURuLQeCdq-j-I1tGsa/ACB%20Meeting%20Minutes?dl=0"
                   class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">ACB Meeting Minutes</h4>
                    <p class="list-group-item-text text-success">
                        <i class="fa fa-comments-o" style="font-size: 10em"></i>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="https://www.dropbox.com/sh/ddosmece25eor08/AABCv_eHCrai2ALo1RI8K8UCa/Chapter%20Newsletters?dl=0"
                   class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">Chapter Newsletters</h4>
                    <p class="list-group-item-text">
                        <i class="fa fa-newspaper-o" style="font-size: 10em"></i>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="https://www.dropbox.com/sh/ddosmece25eor08/AACTriLoGi2kvosPN2DBlHzDa/Alumni%20monthly%20email?dl=0"
                   class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">Monthly ACB Updates</h4>
                    <p class="list-group-item-text text-warning">
                        <i class="fa fa-envelope-o" style="font-size: 10em"></i>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>