/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body, .popover {
    font-family: "Open sans";
    margin-bottom: 175px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    padding: 20px;
}

/* Responsiveness */
iframe, object, embed {
    max-width: 100%;
}

/* Home page content styles */

.top-section {
    height: 825px;
    padding: 50px 0;
    background-size: cover !important;
}

.night-img {
    background: url('/Images/HouseFrontNight70s.jpg') no-repeat center top;
}

.day-img {
    background: url('/Images/HouseFrontDay70s.jpg') no-repeat center center;
}

.content-section {
    width: 100%;
    height: 100%;
    background-size: 100% !important;
    padding: 30px 0;
    margin: 0;
}

/* Login form styles */
.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 100px auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.full-width {
    width: 100% !important;
}

dl {
    margin-bottom: 0;
}

.dl-horizontal dt {
    text-align: left;
    width: auto;
}

.label-as-badge, .badge {
    border-radius: 1em;
    font-weight: normal;
}

.borderless td {
    border: none;
}

.pill-color .active a,
.pill-color .active a:hover {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}

table.dataTable thead > tr > th {
    padding-left: 5px !important;
}

.fixed-table-container {
    border: 1px solid transparent;
}

.bootstrap-table .table > tbody > tr > td {
    border-right: 2px solid transparent;
}

.bootstrap-table .table > thead > tr > th {
    border-right: 2px solid transparent;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#map-outer {
    height: 440px;
    padding: 15px;
    background-color: #FFF;
}

#map-container {
    height: 400px;
}

ul, ol {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Removes the underlines under fontawesome links */
a.social {
    text-decoration: none;
}

.page-header {
    margin-bottom: 10px;
    background-color: rgb(252, 252, 252);
}

.panel .table tr td {
    padding: 5px 15px;
}

.panel-body .pagination {
    margin: 10px 0px 0px 0px;
}

.panel-body .list-group,
.panel-body .alert,
.panel-body .table,
.panel-body p {
    margin-bottom: 0;
}

.panel .list-group {
    margin-top: 0;
}

.row-space {
    margin-bottom: 10px;
}

.popover-static .popover {
    position: relative;
    display: block;
    margin: 5px 15px 15px 15px;
    max-width: 100%;
    z-index: 10;
}

.popover.right > .arrow {
    top: 20px;
}

.popover.right > .arrow:after {
    border-right-color: #f7f7f7 !important;
}

.media-body {
    width: 100%;
}

.popover-content > p {
    margin: 0px;
}
