@model AccountInformationModel
@{
    ViewBag.Title = "Account";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            @{ Html.RenderPartial("~/Views/Account/_MemberInformationPartial.cshtml", Model.MemberInfo); }
            @{ Html.RenderPartial("~/Views/Address/_MyAddressesPartial.cshtml", Model.MemberInfo.Addresses); }
            @{ Html.RenderPartial("~/Views/PhoneNumber/_MyPhoneNumbersPartial.cshtml", Model.MemberInfo.PhoneNumbers); }
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Stats</div>
                <div class="panel-body">
                    Coming soon.
                </div>
            </div>
            @if (User.Identity.Name == Model.MemberInfo.UserName)
            {
                @Html.Partial(ViewBag.HasLocalPassword ? "_ChangePasswordPartial" : "_SetPasswordPartial", Model.ChangePasswordModel)
            }
        </div>
    </div>
</div>