@model AccountInformationModel
@{
    ViewBag.Title = "Account";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            @{ Html.RenderPartial("~/Views/Account/_MemberInformationPartial.cshtml", Model.MemberInfo); }
            @{ Html.RenderPartial("~/Views/Address/_MyAddressesPartial.cshtml", Model.MemberInfo.Addresses); }
            @{ Html.RenderPartial("~/Views/PhoneNumber/_MyPhoneNumbersPartial.cshtml", Model.MemberInfo.PhoneNumbers); }
        </div>
        <div class="col-sm-6">
            @{ Html.RenderPartial("~/Views/Classes/_ClassSchedulePartial.cshtml", Model.ThisSemesterCourses); }

            @if (User.Identity.Name == Model.MemberInfo.UserName)
            {
                @Html.Partial(ViewBag.HasLocalPassword ? "_ChangePasswordPartial" : "_SetPasswordPartial", Model.ChangePasswordModel)
            }
        </div>
    </div>
</div>