@model RegistrationModel
@{
    ViewBag.Title = "Registration";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @{Html.RenderPartial("_RegisterPartial", Model.RegisterModel);}
            <br />
            @if (User.IsInRole("Administrator"))
            {
                Html.RenderPartial("_UnregisterPartial", Model.UnregisterModel);
            }
        </div>
    </div>
</div>
