@model RoleManagerModel
@{
    ViewBag.Title = "Role Manager";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            @{ Html.RenderPartial("_RoleAssignmentPartial", Model.AssignModel); }
        </div>
        <div class="col-xs-6">
            @{ Html.RenderPartial("_RoleUnassignmentPartial", Model.UnassignModel); }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @{ Html.RenderPartial("_CreateRolePartial", Model.CreateModel); }
        </div>
        <div class="col-xs-6">
            @{ Html.RenderPartial("_DeleteRolePartial", Model.DeleteModel); }
        </div>
    </div>
</div>
