<div class="container">
    <div class="row">
        <div class="col-xs-12 text-warning">
            <h2>Whoops!  <small>Something went wrong on the server.  Please try again, and if the problem persists please let Ty you received this error.</small></h2>
        </div>
    </div>
</div>