<div class="container">
    <div class="row">
        <div class="col-xs-12 text-warning">
            <h2>Ouch!  <small>The server did not like something. It will have to get over it, but in the meantime maybe don't do that.</small></h2>
        </div>
    </div>
</div>