@model Dsp.Entities.SoberType
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Name;
    ViewBag.Subtitle = "Description";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <p>
                <a href="@Url.Action("Schedule", "Sobers", new { area = "Sphinx" })" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Sober Schedule
                </a>
            </p>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                <a href="@Url.Action("Edit", "SoberTypes", new { id = Model.SoberTypeId })" class="btn btn-sm btn-info">
                    <i class="fa fa-wrench"></i> Edit
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (string.IsNullOrEmpty(Model.Description))
            {
                @: No description is currently available.  The Sergeant is slacking. >=(
            }
            else
            {
                @Html.Raw(Model.Description)
            }
        </div>
    </div>
</div>