@model Dsp.Data.Entities.SoberType
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Delete Sober Type";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Index
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <p>
                    Are you sure you want to delete the <strong>"@Model.Name"</strong> sober type?
                </p>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
