<li class="nav-item">
    <a asp-area="" asp-controller="Home" asp-action="Joining"
       class="nav-link @(ViewBag.Title.Contains("Joining") ? "active" : "")">Joining</a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Home" asp-action="Scholarships"
       class="nav-link @(ViewBag.Title.Contains("Scholarships") ? "active" : "")">Scholarships</a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Home" asp-action="History"
       class="nav-link @(ViewBag.Title.Contains("About") ? "active" : "")">History</a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Home" asp-action="Contacts"
       class="nav-link @(ViewBag.Title.Contains("Contacts") ? "active" : "")">Contacts</a>
</li>
