<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" role="navigation">
    <div class="container">
        <a href="~/" class="navbar-brand">
            <img src="~/images/MobileTouch-57x57.png" height="40" alt="DSP" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <partial name="_ExternalNavTopLeftLinksPartial.cshtml"></partial>
            </ul>
            <partial name="_NavTopRightPartial.cshtml"></partial>
        </div>
    </div>
</nav>
