@model InternalNavModel

@if (Model.ShowSobersLink)
{
    <li class="nav-item mr-2 @(ViewBag.Title.Contains("Sober") ? "active" : "")">
        <a class="nav-link" asp-area="Sobers" asp-controller="Schedule" asp-action="Index"
           data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Sobers">
            <i class="fa fa-car"></i>
        </a>
    </li>
}
@if (Model.ShowLaundryLink)
{
    <li class="nav-item mr-2 @(ViewBag.Title.Contains("Laundry") ? "active" : "")"
        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Laundry">
        <a class="nav-link" asp-area="Laundry" asp-controller="Schedule" asp-action="Index">
            <i class="fa fa-lg fa-tint"></i>
        </a>
    </li>
}
@if (Model.ShowMealsLink)
{
    <li class="nav-item mr-2 @(ViewBag.Title.Contains("Meal") ? "active" : "")"
        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Meals">
        <a class="nav-link" asp-area="Kitchen" asp-controller="Meals" asp-action="Index">
            <i class="fa fa-cutlery"></i>
        </a>
    </li>
}
