<div class="container-fluid footer mt-auto bg-body-tertiary">
    <footer class="d-flex flex-wrap justify-content-between p-3 mt-5 align-items-center border-top">
        <div class="col-md-4 text-body-secondary">
            Delta Sigma Phi, <small> Delta Epsilon Chapter</small>
        </div>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="~/Images/MobileTouch-57x57.png" height="32" alt="DSP" />
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <partial name="_ExternalNavTopLeftLinksPartial.cshtml"></partial>
            <li class="nav-item">
                <a href="https://github.com/deltasig/sphinx"
                   class="nav-link">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
