@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Rooms";
}

@section Title
{
    @Html.Partial("_Title")
}

<style>
    path {
        fill: #2b975e;
        stroke: darkgray;
        stroke-width: 1;
    }
    path.nonroom {
        fill: lightgray;
    }
    text {
        fill: white;
        font-family: 'Open Sans'
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Second Floor</h3>
            <!-- Actual House Dimensions are around 650m by 1150m. 
                 The drawing is very close to scale but some trimming was done to make the path values more friendly. -->
            <svg width="100%" height="655" viewBox="0 0 1165 650" preserveAspectRatio="xMaxYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
                
                <path d="M 0 0 L 140 0 L 140 215 L 0 215 z"/>
                <text x="10" y="20">208</text>

                <path d="M 140 0 L 290 0 L 290 215 L 140 215 z" />
                <text x="150" y="20">207</text>

                <path d="M 290 0 L 440 0 L 440 215 L 290 215 z" />
                <text x="300" y="20">206</text>

                <path d="M 440 0 L 590 0 L 590 215 L 440 215 z" />
                <text x="450" y="20">205</text>

                <path d="M 590 0 L 760 0 L 760 215 L 590 215 z" />
                <text x="600" y="20">204</text>

                <path d="M 760 0 L 870 0 L 870 100 L 910 100 L 910 215 L 760 215 z" />
                <text x="770" y="20">203</text>

                <path d="M 870 0 L 1040 0 L 1040 100 L 1000 100 L 1000 215 L 910 215 L 910 100 L 870 100 z" />
                <text x="880" y="20">202</text>

                <path d="M 1040 0 L 1150 0 L 1150 215 L 1165 215 L 1165 260 L 1000 260 L 1000 100 L 1040 100 z" />
                <text x="1050" y="20">201</text>

                <path d="M 1000 260 L 1165 260 L 1165 330 L 1150 330 L 1150 420 L 925 420 L 925 280 L 1000 280 z" />
                <text x="935" y="300">216</text>

                <path d="M 905 420 L 1150 420 L 1150 650 L 1080 650 L 1080 580 L 905 580 z" />
                <text x="915" y="440">215</text>

                <path d="M 0 280 L 215 280 L 215 380 L 110 380 L 110 505 L 0 505 z" />
                <text x="10" y="300">209</text>

                <path d="M 0 505 L 110 505 L 110 380 L 215 380 L 215 650 L 0 650 z" />
                <text x="10" y="525">210</text>

                <path d="M 215 425 L 360 425 L 360 650 L 215 650 z" />
                <text x="225" y="445">211</text>

                <path d="M 360 425 L 505 425 L 505 650 L 360 650 z" />
                <text x="370" y="445">212</text>

                <path d="M 505 425 L 685 425 L 685 650 L 505 650 z" />
                <text x="515" y="445">213</text>

                <path d="M 685 425 L 830 425 L 830 650 L 685 650 z"/>
                <text x="695" y="445">214</text>

                <!-- Middle section: mechanical closet, bathrooms -->
                <path d="M 290 280 L 450 280 L 450 270 L 530 270 L 530 215 L 705 215 L 705 270 L 810 270 L 810 360 L 290 360 z" class="nonroom" />

            </svg>

        </div>
    </div>
</div>