@if (ViewContext.RouteData.Values.ContainsValue("Home"))
{
    
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/Images/DeltaSig-Header-Small.png" alt="Header" style="margin-top: 35px" class="img-responsive center-block" />
                    @if (ViewBag.Title != "Delta Sigma Phi")
                    {
                        <h1 class="text-center">@ViewBag.Title</h1>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="page-header" style="margin-top: 50px">
            <div class="row">
                <div class="col-lg-12">
                    <h1>@ViewBag.Title</h1>
                    <p class="text-success">@ViewBag.SuccessMessage</p>
                    <p class="text-warning">@ViewBag.FailMessage</p>
                </div>
            </div>
        </div>
    </div>
}