@if (ViewBag.Title != "Delta Sigma Phi")
{
    <div class="container-fluid" style="padding:0">
        <div class="page-header" style="margin-top: 45px">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>
                            @ViewBag.Title
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
