@if ((ViewContext.RouteData.Values.ContainsValue("Home") && ViewBag.Title != "Delta Sigma Phi") || ViewBag.Title == "Scholarship Submission")
{
    <div class="footer" style="background-color: #282725; color: white;">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-5">
                    <h4>Social</h4>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/deltasig.de" target="_blank">
                                <i class="fa fa-facebook-square fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/deltasig_de" target="_blank">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCklKkFyVqUIG-bNE_u2vOSg" target="_blank" style="width: 50px">
                                <i class="fa fa-youtube-play fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 col-xs-7">
                    <h4>Address</h4>
                    <p>
                        <small>215 W. 8th Street <br /> Rolla, MO 65401</small><br />
                    </p>
                </div>
                <div class="col-sm-8 hidden-xs">
                    <h4>This is the official website of the</h4>
                    <p>
                        <a href="http://www.mst.edu" target="_blank">Missouri S&amp;T</a> 
                        chapter of Delta Sigma Phi Fraternity.
                    </p>
                </div>
            </div>
        </div>
    </div>
}