@if (ViewContext.RouteData.Values.ContainsValue("Home"))
{
    <div class="footer">
        <p>
            <ul class="list-inline text-center">
                <li>
                    <a href="https://www.facebook.com/deltasig.de" target="_blank">
                        <i class="fa fa-facebook-square fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/DSPDeltaEpsilon" target="_blank">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </li>
                @*<li>
                        <a href="https://www.youtube.com/user/mstdeltasig" target="_blank" style="color: red">
                            <i class="fa fa-youtube fa-lg"></i>
                        </a>
                    </li>*@
            </ul>
        </p>
        <p class="text-center">
            Delta Sigma Phi, Delta Epsilon Chapter - 215 W. 8th Street, Rolla, MO 65401
        </p>
        <p class="text-center">
            This is the official website of the <a href="http://www.mst.edu" target="_blank">Missouri S&amp;T</a> chapter
            of <a href="http://www.deltasig.org" target="_blank">Delta Sigma Phi Fraternity</a>.
        </p>
    </div>
}