@if (ViewContext.RouteData.Values.ContainsValue("Home"))
{
    <div>
        <br/>
        <br/>
        <div class="navbar navbar-default" style="padding-top: 12px; margin-bottom:0">
            <p class="text-center">© Delta Sigma Phi, Delta Epsilon Chapter - 215 W. 8th Street, Rolla, MO 65401</p>
        </div>
    </div>
}