@if (ViewContext.RouteData.Values.ContainsValue("Sphinx") || ViewContext.RouteData.Values.ContainsValue("Account"))
{
    <p></p>
}
else
{
    <div id="footer">
        <div class="container">
            <p class="text-center">© Delta Sigma Phi, Delta Epsilon Chapter - 215 W. 8th Street, Rolla, MO 65401</p>
        </div>
    </div>
}