    <div class="footer" style="background-color: #282725; color: white;">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h5 class="hidden-xs">Social</h5>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/deltasig.de" target="_blank">
                                <i class="fa fa-fw fa-facebook-square fa-lg" style="color: #3b5998"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/deltasig_de" target="_blank">
                                <i class="fa fa-fw fa-twitter-square fa-lg" style="color:#00aced"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCklKkFyVqUIG-bNE_u2vOSg" target="_blank">
                                <i class="fa fa-fw fa-youtube-play fa-lg" style="color: #bb0000"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="col-sm-8">
                        @if (User.IsInRole("Administrator"))
                        {
                            var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");

                                    <div class="row row-fluid hidden-xs">
                                        <div class="col-xs-12">
                                            <i class="fa fa-lg fa-clock-o"></i> <small><strong>Times</strong></small>
                                        </div>
                                    </div>
                                    <div class="row row-fluid">
                                        <div class="col-xs-12">
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 25px"><small>CST</small></td>
                                                    <td><small>@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone).ToString("R")</small></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-right: 25px"><small>UTC</small></td>
                                                    <td><small>@DateTime.UtcNow.ToString("R")</small></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-right: 25px"><small>Server</small></td>
                                                    <td><small>@DateTime.Now.ToString("R")</small></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                        }
                    </div>
                }
                else
                {
                    <div class="col-sm-8">
                        <h5>
                            Official Website of
                            <a href="http://www.deltasig.org">Delta Sigma Phi</a> at
                            <a href="http://www.mst.edu" target="_blank">Missouri S&amp;T</a>.
                        </h5>
                        <small>215 W. 8th Street, Rolla, MO 65401</small>
                    </div>
                }
            </div>
        </div>
    </div>
