@model UnregisterModel

<div class="panel panel-default">
    <div class="panel-heading">Unregister</div>
    <div class="panel-body">
        @using (Html.BeginForm("Unregister", "Account", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <div class="alert alert-warning">
                    <strong>Warning!</strong>  You can only remove users who meet all of the following conditions:
                    <ul>
                        <li>their account was created within the last 30 days; </li>
                        <li>their status is either "Pledge" or "Affiliate"; and </li>
                        <li>they have not interacted with the system in any way.</li>
                    </ul>
                    If you are trying to remove a new member that was not approved for initiation, you should move their status to "Released" in their profile.
                    This also goes for a Neophyte who was not initiated.
                    People who do not meet the first two bullets above have already been filtered out of the dropdown below.
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Choose a member", new { @class = "control-label" })
                @Html.DropDownListFor(m => m.SelectedUserId, Model.Users, new
                {
                    @class = "form-control selectpicker",
                    autocomplete = "off",
                    data_live_search = "true",
                    data_size = "10"
                })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Unregister</button>
            </div>
        }
    </div>
</div>