@model RegistrationModel
@{
    ViewBag.Title = "Registration";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            @{Html.RenderPartial("_RegisterPartial", Model.RegisterModel);}
        </div>
        <div class="col-sm-12 col-md-6">
            @{Html.RenderPartial("_UnregisterPartial", Model.UnregisterModel);}
        </div>
    </div>
</div>
