@model Dsp.Data.Entities.Member
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Reset Password";
    ViewBag.Subtitle = Model.ToString();
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Manage", "Account", new {userName = ViewBag.UserName, area = "Members"})"
                   class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle"></i>
                    This will reset @Model.FirstName's password.
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => Model.UserName)

                <input type="submit" value="Do it!" class="btn btn-danger" />
            }
        </div>
    </div>
</div>
