@model BugReport
@{
    Layout = null;
    var cst = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var nowCst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cst);
    var link = string.Format(
        "{0}://{1}{2}", 
        Request.Url.Scheme, 
        Request.Url.Authority, 
        Url.Action("Details", "Bugs", new { area = "Members", id = Model.Id }));
}

<html>
<body>
<div style="height: 40px; width: 100%; border-bottom: 1px solid gainsboro;">
    <img style="float: right;" height="35" width="35"
         src="https://www.deltasig-de.org/Images/MobileTouch-57x57.png"/>
    <a href="@link">@Model.UrlWithProblem</a>
</div>
<div style="width: 100%;">
    <h4 style="margin-bottom: 5px">Description Update</h4>
    <p style="margin-top: 20px; white-space: pre-line">
        @Model.Description
    </p>
</div>
</body>
</html>
