@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Welcome Alumni!";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var nowCst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone);
}
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta{
    <meta name="description" content="">
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Alumni</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="lead">
                This portion of our website is dedicated to keeping the 700 Alumni of Delta Sigma Phi at MST/UMR/MSM connected. <br />
                Here you can update your contact info and learn about Alumni and Chapter news, issues, and events. 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="@Url.Action("Index", "Connect")" class="list-group-item">
                    <h4 class="list-group-item-heading">Connect</h4>
                    <p class="list-group-item-text text-success">
                        <i class="fa fa-compress fa-big"></i>
                    </p>
                </a>
                <div class="list-group-item"><i class="fa fa-info-circle"></i> Update your contact info</div>
                <div class="list-group-item"><i class="fa fa-calendar"></i> View upcoming events</div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="@Url.Action("Index", "Acb")" class="list-group-item">
                    <h4 class="list-group-item-heading">Alumni Corporation Board</h4>
                    <p class="list-group-item-text text-warning">
                        <i class="fa fa-gavel fa-big"></i>
                    </p>
                </a>
                <div class="list-group-item"><i class="fa fa-star"></i> Contact leadership</div>
                <div class="list-group-item"><i class="fa fa-users"></i> Attend meetings</div>
            </div>
        </div>
        @*<div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="@Url.Action("History", "Home", new { area = "" })" class="list-group-item">
                    <h4 class="list-group-item-heading">Chapter History</h4>
                    <p class="list-group-item-text">
                        <i class="fa fa-history" style="font-size: 10em"></i>
                    </p>
                </a>
                <div class="list-group-item">
                    <i class="fa fa-book"></i> Learn what's been happening
                </div>
            </div>
        </div>*@
    </div>
</div>