@model Dsp.Areas.Members.Models.RegistrationConfirmationModel
@{
    Layout = null;
}

<html>
<body>
    <div style="height: 40px; width: 100%; border-bottom: 1px solid gainsboro;">
        <img style="float: right;" height="35" width="35"
             src="https://www.deltasig-de.org/Images/MobileTouch-57x57.png" />
        <h2 style="margin: 0">
            <strong>Account Confirmation</strong>
        </h2>
    </div>
    <h3>Step 1 <small>Confirm your email</small></h3>
    <p>
        The first thing you must do is confirm your email by clicking <a href="@Model.CallbackUrl">here</a>.
    </p>

    <h3>Step 2 <small>Sign in</small></h3>
    <p>Your username is: @Model.UserName <br />Your temporary password: @Model.TemporaryPassword</p>

    <p style="color: darkred">
        You will probably want to change your password to something you will remember.
        You can change your password from
        <a href="https://deltasig-de.org/members/account/manage?userName=@Model.UserName">your account page</a>.
    </p>

    <h3>Done!</h3>
    <p>
        Welcome to the Delta Sig website! <br />
        You should submit any additional contact and class information prior to your academic meeting. <br />
        It is also recommended that you tie your school Gmail account to your website account. <br />
        This can make signing in easier and give you the ability to use a few extra website features. <br />
        See <a href="https://deltasig-de.org/members/account/manage?userName=@Model.UserName">your account page</a> to do this.
    </p>
</body>
</html>
