@model AboutModel
@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "About Delta Epsilon";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var nowCst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone);
}
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta{
    <meta name="description" content="Information about the history and accomplishments of Delta Epsilon.">
}

<div class="container">
    <div class="row">
        <nav class="col-sm-3 bs-docs-sidebar hidden-xs no-print">
            <ul id="sidebar" class="nav nav-stacked fixed">
                <li>
                    <a href="#chapter-history">Chapter History</a>
                </li>
                <li>
                    <a href="#awards">Awards</a>
                </li>
            </ul>
        </nav>
        <div class="col-sm-9">
            <section id="chapter-history" class="group">
                @Html.Raw(Model.History)
            </section>
            <hr style="margin-bottom: 50px; margin-top:50px" />
            <section id="awards" class="group" style="page-break-before: always; margin-bottom:50px">
                @Html.Raw(Model.Awards)
            </section>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('body').scrollspy({
            target: '.bs-docs-sidebar',
            offset: 40
        });
    </script>
}