@model string
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Updates";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(Model)
        </div>
    </div>
</div>
