@model Dsp.Data.Entities.SoberType
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = Model.Name;
    ViewBag.Subtitle = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <p>
                <a href="@Url.Action("Index", "Schedule")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Sober Schedule
                </a>
            </p>
        </div>
        <div class="col-xs-6 text-right">
            <p>
                <a href="@Url.Action("Edit", "Types", new { id = Model.SoberTypeId })" class="btn btn-sm btn-info">
                    <i class="fa fa-wrench"></i> Edit
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (string.IsNullOrEmpty(Model.Description))
            {
                @: No description is currently available.  The Sergeant-at-Arms is slacking. >=(
            }
            else
            {
                @Html.Raw(Model.Description)
            }
        </div>
    </div>
</div>