@model ServiceStatsIndexModel
@{
    ViewBag.Title = "Service Stats";
    ViewBag.Subtitle = Model.NavModel.SelectedSemester;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" 
        integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" 
        crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 no-print">
            @Html.Partial("~/Areas/Service/Views/Shared/_ServiceNavPartial.cshtml", Model.NavModel)
        </div>
        <div class="col-lg-10 col-md-9">
            <div class="row">
                <canvas id="statsChart" style="background-color: white" height="500"></canvas>
            </div>
            <div class="row">
                <p class="alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    The adjusted 80% target is "adjusted" because it does not include 
                    members with service hour amendments that completely eliminate their 
                    semester requirement.
                </p>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        
        (function () {
            var settings = {
                url: '/api/service/hourstats?sid=' + @Model.NavModel.SelectedSemester.SemesterId,
                dataType: 'json',
                success: function (response) {
                    var data = {
                        labels: response["months"],
                        datasets: [
                            {
                                label: 'Adjusted 80% Target',
                                data: response["targetMemberCount"],
                                borderColor: 'rgb(0, 0, 0)',
                                borderWidth: 1,
                                pointRadius: 0,
                                borderDash: [10, 5],
                                fill: false,
                                lineTension: 0,
                            },
                            {
                                label: '> 0 hours',
                                data: response["moreThanZeroHours"],
                                backgroundColor: 'rgb(235, 76, 52)',
                                borderColor: 'rgb(235, 76, 52)',
                                borderWidth: 1,
                                fill: false,
                                lineTension: 0,
                            },
                            {
                                label: '\u2265 5 hours',
                                data: response["fiveOrMoreHours"],
                                backgroundColor: 'rgb(252, 231, 3)',
                                borderColor: 'rgb(252, 231, 3)',
                                borderWidth: 1,
                                fill: false,
                                lineTension: 0,
                            },
                            {
                                label: '\u2265 10 hours',
                                data: response["tenOrMoreHours"],
                                backgroundColor: 'rgb(136, 252, 3)',
                                borderColor: 'rgb(136, 252, 3)',
                                borderWidth: 1,
                                fill: false,
                                lineTension: 0,
                            },
                            {
                                label: '\u2265 15 hours',
                                data: response["fifteenOrMoreHours"],
                                backgroundColor: 'rgb(50, 168, 82)',
                                borderColor: 'rgb(50, 168, 82)',
                                borderWidth: 1,
                                fill: false,
                                lineTension: 0,
                            },
                        ]
                    };
                    var options = {
                        title: {
                            display: true,
                            text: "Service Hours Progress",
                        },
                        legend: {
                            position: "right"
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Month'
                                },
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '# of Members'
                                },
                                ticks: {
                                    beginAtZero: true,
                                    max: response["unadjustedMemberCount"]
                                }
                            }]
                        },
                        bezierCurve: false
                    };

                    var ctx = document.getElementById('statsChart').getContext('2d');
                    var myLineChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: options
                    });
                },
                error: function (response) {
                    console.log(response);
                }
            };
            $.ajax(settings);
        })();

    </script>
}
