@model ServiceStatsIndexModel
@{
    ViewBag.Title = "Service Stats";
}
@Scripts.Render("~/bundles/charts")

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 no-print">
            @Html.Partial("~/Areas/Service/Views/Shared/_ServiceNavPartial.cshtml", Model.NavModel)
        </div>
        <div class="col-lg-10 col-md-9">
            <div class="row">
                <canvas id="statsChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var ctx = document.getElementById('statsChart').getContext('2d');

        var data = {
            labels: ["May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [
                {
                    label: '> 0 hours',
                    data: [0, 2, 3, 15, 30, 45, 75, 80],
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: '> 5 hours',
                    data: [0, 1, 1, 10, 20, 40, 65, 78],
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: '> 10 hours',
                    data: [0, 0, 0, 5, 7, 25, 45, 60],
                    borderWidth: 1,
                    fill: false
                },
            ]
        };

        var options = {
            scales: {
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '# of people'
                    },
                    type: 'time',
                    time: {
                        unit: 'month'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '# of people'
                    }
                }]
            },
        };
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });

    </script>
}
