/* Sticky footer styles
-------------------------------------------------- */

html, body {
    height: 97.25%;
    font-family: "Open sans";
}

body {
    width:100%;
}

blockquote {
    font-size: 14px;
}

textarea {
    max-width: 100%; 
    max-height: 100%;
}

.external-body {
    display: table;
    margin-top: 50px;
}

.subtext {
    font-size: 10px;
    margin: 0;
}

.tooltip {
    min-width: 75px;
}

.truncate {
    overflow: hidden;
    white-space: nowrap;
}

/* Big icons (featured on home page) */
.fa-big {
    font-size: 8em !important;
    margin: 15px 0;
}

/* Removes the underlines under fontawesome links */
a.social {
    text-decoration: none;
}

.page-header {
    margin-top: 20px;
}

.row-space {
    margin-bottom: 10px;
}

.full-width {
    width: 100% !important;
}

dl {
    margin-bottom: 0;
}

.dl-horizontal dt {
    text-align: left;
    width: auto;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 5px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label-as-badge, .badge {
    border-radius: 1em;
    font-weight: normal;
}

.borderless td {
    border: none;
}

/* Responsiveness */
iframe, object, embed {
    max-width: 100%;
}

/* Home page content styles */

.night-img {
    background: url('/Images/HouseFrontNight70s.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.day-img {
    background: url('/Images/HouseFrontDay70s.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Internal navbar */

.nav-center {
    margin: 0;
    float: none;
}

.navbar-inner {
    text-align: center;
}

.navbar-brand {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar-brand:hover {
    -webkit-filter: brightness(100%);
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/* Custom pills */

.pill-color .active a,
.pill-color .active a:hover {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}

/* Custom button styles */

.btn-light {
    margin: 0;
    padding: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Custom active class for list-group */

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #000;
    background-color: transparent;
    border-color: #ddd;
    font-weight: bold;
}

a.list-group-item.active:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    content: "";
    background-color: #247d4e;
}

/* Modifying bootstrap panel appearance */
.panel .table tr td {
    padding: 5px 15px;
}

.panel .table tr th {
    padding: 5px 15px;
}

.panel-body .pagination {
    margin: 10px 0px 0px 0px;
}

.panel-body .list-group,
.panel-body .alert,
.panel-body .table,
.panel-body p {
    margin-bottom: 0;
}

.panel .list-group {
    margin-top: 0;
}

/* Popover Styles */
.popover-static .popover {
    position: relative;
    display: block;
    margin: 5px 15px 15px 15px;
    max-width: 100%;
    z-index: 10;
}

.popover.right > .arrow {
    top: 20px;
}

.popover.right > .arrow:after {
    border-right-color: #f7f7f7 !important;
}

.media-body {
    width: 100%;
}

.popover-content > p {
    margin: 0;
}

/* Side Panel Styles */

body {
    margin-top: 100px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 0 0 10px 0;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

/* Bootstrap td tag colors */
.table tbody tr > td.success {
    background-color: #dff0d8 !important;
}

.table tbody tr > td.error {
    background-color: #f2dede !important;
}

.table tbody tr > td.warning {
    background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
    background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
    background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
    background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
    background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
    background-color: #c4e3f3 !important;
}

/* RESPONSIVE TEXT ALIGNMENT */
.text-xs-left {
    text-align: left;
}

.text-xs-right {
    text-align: right;
}

.text-xs-center {
    text-align: center;
}

.text-xs-justify {
    text-align: justify;
}

@media (min-width: 768px) {
    .text-sm-left {
        text-align: left;
    }

    .text-sm-right {
        text-align: right;
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-justify {
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .text-md-left {
        text-align: left;
    }

    .text-md-right {
        text-align: right;
    }

    .text-md-center {
        text-align: center;
    }

    .text-md-justify {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-lg-left {
        text-align: left;
    }

    .text-lg-right {
        text-align: right;
    }

    .text-lg-center {
        text-align: center;
    }

    .text-lg-justify {
        text-align: justify;
    }
}

/* sidebar */

.fixed {
    position: fixed;
}

.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #006622;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #006622; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

/* FOOTER */

.page-row {
    display: table-row;
    height:1px;
}

.page-row {
    height: 100%;
}

.container-fluid.home {
    padding: 40px 0px;
}

.dark {
    background-color: #282725; 
    color: white;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media print {
    body {
        margin:0 !important;
    }

    .list-group-item {
        page-break-inside: avoid;
    }

    a[href]:after {
        content: none !important;
    }

    .panel {
        border: none;
    }

    .panel-default > .panel-heading {
        color: #333333;
        background-color: #f5f5f5 !important;
        border: 1px solid #dddddd;
        -webkit-print-color-adjust: exact;
    }

    .no-print, .no-print * {
        display: none !important;
    }

    .print, .print * {
        display: block !important;
    }

    .print-inline, .print-inline * {
        display: inline !important;
    }

    .col-p-1, .col-p-2, .col-p-3, .col-p-4, .col-p-5, .col-p-6, .col-p-7, .col-p-8, .col-p-9, .col-p-10, .col-p-11, .col-p-12 {
        float: left;
    }

    .col-p-12 {
        width: 100%;
    }

    .col-p-11 {
        width: 91.66666666666666%;
    }

    .col-p-10 {
        width: 83.33333333333334%;
    }

    .col-p-9 {
        width: 75%;
    }

    .col-p-8 {
        width: 66.66666666666666%;
    }

    .col-p-7 {
        width: 58.333333333333336%;
    }

    .col-p-6 {
        width: 50%;
    }

    .col-p-5 {
        width: 41.66666666666667%;
    }

    .col-p-4 {
        width: 33.33333333333333%;
    }

    .col-p-3 {
        width: 25%;
    }

    .col-p-2 {
        width: 16.666666666666664%;
    }

    .col-p-1 {
        width: 8.333333333333332%;
    }

    .text-p-left {
        text-align: left;
    }

    .text-p-right {
        text-align: right;
    }

    .text-p-center {
        text-align: center;
    }

    .text-p-justify {
        text-align: justify;
    }
}