@{
    ViewBag.Title = "About";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <p>
                    We are going to add stuff here soon.  Please bare with us as we launch our new website.
                </p>
            </div>
        </div>
    </div>
</div>