@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
</div>
<div class="container">
    <br/>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Address</div>
        <div class="panel-body">
            Delta Sigma Phi<br>
            215 W 8th St<br>
            Rolla, MO 65401
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Typical Inquiries</div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Contact Name</th>
                    <th>Email</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alumni Information</td>
                    <td>Mike Unnerstall</td>
                    <td><a href="mailto:mluzb8@mst.edu">mluzb8@mst.edu</a></td>
                    <td>Alumni Relations</td>
                </tr>
                <tr>
                    <td>Membership; Scholarship</td>
                    <td>Kevin Clark</td>
                    <td><a href="mailto:klcdkc@mst.edu">klcdkc@mst.edu</a></td>
                    <td>Director of Recruitment</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Other Inquires</div>
        <div class="panel-body">
            See <a href="#">Officers</a> and <a href="#">Chairmen</a>.
        </div>
    </div>
</div>