@{
    ViewBag.Title = "Delta Sigma Phi";
}
@section Title
{
    @Html.Partial("_Title")
}
@if (DateTime.Now.Hour >= 19 || DateTime.Now.Hour <= 7)
{
    <div class="jumbotron hidden-xs home-bg"
         style="background-image:url('/Images/HouseFrontNight70s.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" style="color:whitesmoke">
                    <h1 style="margin-top: 50px; margin-bottom: 0px">
                        DELTA SIGMA PHI
                    </h1>
                    <h2 style="margin: 0">
                        DELTA EPSILON CHAPTER
                    </h2>
                    <h3 style="margin: 0">
                        MISSOURI S&amp;T
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container visible-xs" style="margin-top: 75px">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="margin: 0">
                    <strong>DELTA SIGMA PHI</strong>
                </h1>
                <h2 style="margin: 0">
                    DELTA EPSILON CHAPTER
                </h2>
                <h3 style="margin: 0">
                    MISSOURI S&amp;T
                </h3>
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron hidden-xs home-bg" 
         style="background-image:url('/Images/HouseFrontDay70s.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="margin-top: 50px; margin-bottom: 0px">
                        <strong>DELTA SIGMA PHI</strong>
                    </h1>
                    <h2 style="margin: 0">
                        DELTA EPSILON CHAPTER
                    </h2>
                    <h3 style="margin: 0">
                        MISSOURI S&amp;T
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container visible-xs" style="margin-top: 75px">
        <div class=" row">
            <div class="col-xs-12">
                <h1 style="margin: 0">
                    <strong>DELTA SIGMA PHI</strong>
                </h1>
                <h2 style="margin: 0">
                    DELTA EPSILON CHAPTER
                </h2>
                <h3 style="margin: 0">
                    MISSOURI S&amp;T
                </h3>
            </div>
        </div>
    </div>
}
<div class="home-content hidden-xs">
    <div class="container-fluid">
        <div class="row home-row">
            <div class="col-lg-4">
                <div class="thumbnail" style="height:375px">
                    <div class="caption text-center">
                        <i class="fa fa-lightbulb-o" style="font-size:6em; color:rgba(51, 51, 51, 0.37)"></i>
                        <h2>Prospective Members</h2>
                        <p class="text-justify">
                            Our recruitment process is <strong>values-based</strong> and we are proud of it.  For those who are right for Delta Sig, you already believe what we believe.
                            You strive to make a positive impact every day in the world around you, and you realize that surrounding yourself with like-minded individuals will accelerate the realization of that vision.
                            If Delta Sig isn't the right place for you, we will help you find a fraternity that is.
                        </p>
                        <p><a class="btn btn-default" href="@Url.Action("HowToJoin")" role="button">Learn More »</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail" style="height:375px">
                    <div class="caption text-center">
                        <i class="fa fa-graduation-cap" style="font-size:6em; color:rgba(51, 51, 51, 0.37)"></i>
                        <h2>Alumni Involvement</h2>
                        <p class="text-justify">
                            After a decade-long absence, Delta Epsilon has returned to Missouri S&amp;T and we have quickly risen to be one of the most influental student organizations on campus.
                            Our accomplishments are numerous, but none of it would be possible without generous support provided by our alumni.  That is why Delta Epsilon is committed to reconnecting with you.
                        </p>
                        <p><a class="btn btn-default" href="http://www.deltasigrollaalumni.com/" role="button">Learn More »</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail" style="height:375px">
                    <div class="caption text-center">
                        <i class="fa fa-group" style="font-size:6em; color:rgba(51, 51, 51, 0.37)"></i>
                        <h2>Community Outreach</h2>
                        <p class="text-justify">
                            Delta Sig wants to connect with you!  We are committed to building relationships on campus and throughout the community.
                            If you have an opportunity to make Missouri S&amp;T and the communiy a better place, let us know and we will do our best to help you.
                        </p>
                        <br />
                        <br />
                        <p><a class="btn btn-default" href="@Url.Action("Contact")" role="button">Learn More »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>