@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Recruitment";
}
@section Title
{
    @Html.Partial("_Title")
}
@section AdditionalMeta {
    <meta name="description" content="Learn about how you can join Delta Sig's mission to change the fraternity experience." />
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                <p>
                    <strong>Attention first-semester students!</strong>  
                    If you have not applied for our scholarship, @Html.ActionLink("click here", "Scholarships", "Home") to learn more!
                </p>
            </div>
            <p>
                Our recruitment process is values-based and we are proud of it. For those who are right for Delta Sig, you already believe what we believe. 
                You strive to make a positive impact every day in the world around you, and you realize that surrounding yourself with like-minded 
                individuals will accelerate the realization of that vision. 
                If Delta Sig isn't the right place for you, we will help you find a fraternity that is. 
            </p>
        </div>
    </div>
    <h2>
        Delta Sig Recruitment Book
        <small>
            <a href="https://docs.google.com/a/mst.edu/uc?authuser=0&id=0ByzeXLX1ZvcneWROMDc0bFVkMnc&export=download"
               target="_blank">Download</a>
        </small>
    </h2>
    <div class="row">
        <div class="col-lg-12">
            <p>
                Our chapter publishes a booklet every semester, which we call the <em>Recruitment Book</em>, that is aimed 
                at answering the questions of potential new members and their families.  If you look through it and still have more questions, 
                please feel free to @Html.ActionLink("contact", "Contacts", "Home") our Director of Recruitment directly via email.
            </p>
        </div>
    </div>
    <h2>
        Videos from our National Office
    </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <embed width="100%" height="300"
                       src="https://www.youtube.com/v/A4dlXvg4Ra8"
                       type="application/x-shockwave-flash">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <embed width="100%" height="300"
                       src="https://www.youtube.com/v/7JZBnRRM1WU"
                       type="application/x-shockwave-flash">
            </div>
        </div>
    </div>
</div>