@{
    ViewBag.Title = "Building Better Men Scholarship";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                The Delta Epsilon chapter of Delta Sigma Phi is offering a single $2,000 scholarship to a non-Greek man attending
                Missouri S&amp;T for the first time in Fall 2014.
            </p>
            <p>
                The recipient of the scholarship will be determined based on, but not limited to, the following:

                <ul>
                    <li>Academic Excellence</li>
                    <li>Extra-Curricular Involvement</li>
                    <li>Service to the Community</li>
                    <li>Leadership Qualities</li>
                    <li>Quality of Performance on Short Essays and During Interview</li>
                </ul>

                We, the brothers of Delta Sigma Phi, want to share our vision of a better world inhabited by better men with as many people as possible,
                but the reality of negative stereotypes and lack of knowledge about fraternities can make it difficult to initiate conversations.
                We use this scholarship as a way to start a conversation with non-Greek men about what it means to be a better man and how every person
                can make a positive impact on the world.
            </p>
            <h2>
                Frequently Asked Questions (FAQ)
            </h2>
            <blockquote>
                <p>How do I apply?</p>
            </blockquote>
            <p>
                Applications are completed online by filling out the form at the bottom of this page.
            </p>
            <blockquote>
                <p>Why do we offer this scholarship?</p>
            </blockquote>
            <p>
                We, the brothers of Delta Sigma Phi, want to share our vision of a better world inhabited by better men with as many people as possible, 
                but the reality of negative stereotypes and lack of knowledge about fraternities can make it difficult to initiate conversations. 
                We use this scholarship as a way to start a conversation with non-Greek men about what it means to be a better man and how every person 
                can make a positive impact on the world.
            </p>
            <blockquote>
                <p>Do I have to join Delta Sigma Phi to receive the scholarship?</p>
            </blockquote>
            <p>
                No. The Building Better Men Scholarship is available to any incoming, male student who will be attending Missouri University of Science and 
                Technology for the first time in the Fall.
            </p>
            <blockquote>
                <p>Is this Scholarship renewable?</p>
            </blockquote>
            <p>
                No. The scholarship can only be received by an individual one time.
            </p>
            <blockquote>
                <p>When will I be informed on whether or not I received the scholarship?</p>
            </blockquote>
            <p>
                Within the first 6-8 weeks of the Fall semester.
            </p>
            <blockquote>
                <p>When and how is the money distributed?</p>
            </blockquote>
            <p>
                The scholarship will be disbursed after during the first 3-4 weeks of the Fall semester. Delta Sigma Phi will issue the funds to 
                Missouri S&amp; and then it will be applied to your student account.
            </p>
            <h2>
                Submit your application below!
            </h2>
            <iframe src="https://docs.google.com/forms/d/12mHZFd4vYSQmCSaOqbZ_WXxxQouHI97H3loz6W-ltG8/viewform?embedded=true" 
                    width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading&amp;#8230;</iframe>
        </div>
    </div>
</div>