@model Dsp.Entities.Member
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reset Password";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="alert alert-danger">
                    <p>Are you sure you want to reset @Model.FirstName's password?</p>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => Model.UserName)

                <input type="submit" value="Reset" class="btn btn-default" /> @:|
                @Html.ActionLink("Back to Profile", "Index", "Account", new { userName = ViewBag.UserName, area = "Members" }, null)
            }
        </div>
    </div>
</div>
