@model IEnumerable<ClassTaken>
@{
    ViewBag.Title = "Class Schedule";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag != null && ViewBag.Message.Length > 0)
            {
                <div class="alert alert-warning">
                    @ViewBag.Message
                </div>
            }
            @{ Html.RenderPartial("~/Views/Classes/_ClassSchedulePartial.cshtml", Model); }
        </div>
    </div>
</div>