@model IEnumerable<Dsp.Entities.ScholarshipApp>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "";
}
@section Title
{
    @Html.Partial("_Title")
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-right">
                    @Html.ActionLink("Create New", "Create")
                </div>
                <div class="panel-body">
                    <table class="table" data-toggle="table" data-classes="table table-condensed" 
                            data-search="true" data-pagination="true" data-page-size="25" data-sort-name="class-number">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        
    </script>
}