@model Dsp.Web.Entities.ScholarshipType
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete Scholarship Type";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                    <i class="fa fa-caret-left"></i> Back to Types
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                <p>Are you sure you want to delete this?</p>
            </div>
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                </dl>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Delete" class="btn btn-default" /> 
            }
        </div>
    </div>
</div>