/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open sans";
    margin-bottom: 175px;
}

blockquote {
    font-size: 14px;
}

.external-body {
    margin-top: 50px;
}

.subtext {
    font-size:10px;
    margin:0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    padding: 20px;
}

.tooltip {
    min-width: 75px;
}

/* Responsiveness */
iframe, object, embed {
    max-width: 100%;
}

/* Home page content styles */

.top-section {
    height: 825px;
    padding: 50px 0;
    background-size: cover !important;
}

.night-img {
    background: url('/Images/HouseFrontNight70s.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.day-img {
    background: url('/Images/HouseFrontDay70s.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-section {
    width: 100%;
    height: 100%;
    background-size: 100% !important;
    padding: 30px 0;
    margin: 0;
}

/* Login form styles */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    margin-top: 40px;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 57px;
    height: 57px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.navbar-brand {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar-brand:hover{
    -webkit-filter: brightness(100%);
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.full-width {
    width: 100% !important;
}

dl {
    margin-bottom: 0;
}

.dl-horizontal dt {
    text-align: left;
    width: auto;
}

.label-as-badge, .badge {
    border-radius: 1em;
    font-weight: normal;
}

.borderless td {
    border: none;
}

.pill-color .active a,
.pill-color .active a:hover {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #e7e7e7 !important;
    color: #555 !important;
}

table.dataTable thead > tr > th {
    padding-left: 5px !important;
}

.fixed-table-container {
    border: 1px solid transparent;
}

.bootstrap-table .table > tbody > tr > td {
    border-right: 2px solid transparent;
}

.bootstrap-table .table > thead > tr > th {
    border-right: 2px solid transparent;
}

.text-left-xs {
    text-align: left;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .text-right-sm {
        text-align: right;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-left-md {
        text-align: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-left-lg {
        text-align: left;
    }
}

.btn-light {
    margin: 0;
    padding: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#map-outer {
    height: 440px;
    padding: 15px;
    background-color: #FFF;
}

#map-container {
    height: 400px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 5px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #000;
  background-color: transparent;
  border: 0;
    font-weight: bold;
}

a.list-group-item.active:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  content: "";
  background-color: #247d4e;
}

/* Removes the underlines under fontawesome links */
a.social {
    text-decoration: none;
}

.page-header {
    margin-top: 20px
}

.panel .table tr td {
    padding: 5px 15px;
}
.panel .table tr th {
    padding: 5px 15px;
}

.panel-body .pagination {
    margin: 10px 0px 0px 0px;
}

.panel-body .list-group,
.panel-body .alert,
.panel-body .table,
.panel-body p {
    margin-bottom: 0;
}

.panel .list-group {
    margin-top: 0;
}

.row-space {
    margin-bottom: 10px;
}

.popover-static .popover {
    position: relative;
    display: block;
    margin: 5px 15px 15px 15px;
    max-width: 100%;
    z-index: 10;
}

.popover.right > .arrow {
    top: 20px;
}

.popover.right > .arrow:after {
    border-right-color: #f7f7f7 !important;
}

.media-body {
    width: 100%;
}

.popover-content > p {
    margin: 0;
}

/* Side Panel Styles */

body {
    margin-top: 100px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 0 0 10px 0;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Bootstrap td tag colors */
.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

.table tbody tr > td.error {
  background-color: #f2dede !important;
}

.table tbody tr > td.warning {
  background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
  background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
  background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
  background-color: #c4e3f3 !important;
}