@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Upload too large";
}

<div class="container" style="margin-top:200px">
    <div class="row">
        <div class="col-xs-12 text-warning text-center">
            <h2>
                <i class="fa fa-frown-o"></i>
                Whoops! <small>Your upload was too large! The maximum size is 4 megabytes (MB).</small> <br />
                <small>Error 404.13 - content length too large.</small>
            </h2>
        </div>
    </div>
</div>