@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Something went wrong";
}

<div class="container" style="margin-top:200px">
    <div class="row">
        <div class="col-xs-12 text-warning text-center">
            <h2>
                <i class="fa fa-frown-o"></i>
                Whoops! <small>An error as occurred.</small> <br />
                <small>Error 500 - if the error persists, please let your administrator know.</small>
            </h2>
        </div>
    </div>
</div>