@using System.Web.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Uploading";
    var section = WebConfigurationManager.GetSection("system.web/httpRuntime") as HttpRuntimeSection;
    var maxKB = section != null ? section.MaxRequestLength : 10240; // KB
    var maxMB = maxKB / 1024; // MB
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4>Naming</h4>
            <p>
                When you name a file, use the following format:
                <pre>[type] [##] - [Semester] - [Instructor Last Name].pdf</pre>
            </p>
            <h4>Details</h4>
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr class="active">
                        <th>Type</th>
                        <th>##</th>
                        <th>Semester</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-xs-3">
                            Test <br />
                            Hw <br />
                            Quiz <br />
                        </td>
                        <td class="col-xs-6">
                            Denotes the order in which the item occurred in the semester.  
                            <strong>Must be 2 digits, i.e., the first file would be 01.</strong>
                        </td>
                        <td class="col-xs-3">
                            SP2016 <br />
                            FS2015 <br />
                            SS2014, and so on
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Size</h4>
            <p>
                <strong>The maximum upload size is @(maxMB)MB which is more than enough.</strong> <br />
                When you scan a PDF the resulting file will often times be unnecessarily large (many megabytes). <br />
                Therefore, the website compresses the files you provide to ensure future downloads are fast and website bandwidth isn't wasted.
            </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Format</h4>
            <p>
                PDF - always.
            </p>
            <hr />
            <h4>Multiple Pages</h4>
            <p>
                Refrain from uploading PDFs that are split into multiple pages.
            </p>
            <hr />
            <h4>Issues</h4>
            <p>
                If a PDF is not uploading properly, send an email to Ty describing what happened (and/or didn't happen) with the problematic PDF attached.
            </p>
            <hr />
        </div>
    </div>
</div>