@using Dsp.Web.Extensions
@using Dsp.Data.Entities
@model IEnumerable<WorkOrder>

@if (Model.Any())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            My open work orders
        </div>
        <ul class="list-group">
            @foreach (var w in Model.OrderByDescending(w => w.GetDateTimeCreated()))
            {
                var commentLabelColor = w.Comments.Any() ? "#31708f" : "";
                var timeSinceCreation = (DateTime.UtcNow - w.GetDateTimeCreated()).ToUserFriendlyString();

                <a href="@Url.Action("View", new {id = w.WorkOrderId})" class="list-group-item">
                    <span class="badge" style="background-color: @commentLabelColor">
                        <i class="fa fa-comment"></i>  @w.Comments.Count
                    </span>
                    <h5 class="list-group-item-heading">
                        <small>#@w.WorkOrderId</small> @w.Title
                    </h5>
                    <p class="list-group-item-text">
                        opened @timeSinceCreation
                    </p>
                </a>
            }
        </ul>
    </div>
}
