@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "About Delta Epsilon";
    ViewBag.Print = true;
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var nowCst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone);
}
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta{
    <meta name="description" content="">
}

<div class="container">
    <div class="row">
        <nav class="col-sm-3 bs-docs-sidebar hidden-xs no-print">
            <ul id="sidebar" class="nav nav-stacked fixed">
                <li>
                    <a href="#chapter-history">Chapter History</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#part1">1956-1961</a></li>
                        <li><a href="#part2">1962-1967</a></li>
                        <li><a href="#part3">1968-1994</a></li>
                        <li><a href="#part4">1995-2005</a></li>
                        <li><a href="#part5">2005-2012</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#awards">Awards</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#chapter">Chapter</a></li>
                        <li><a href="#individuals">Individuals</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="col-sm-9">
            <section id="chapter-history" class="group">
                <h2>Chapter History</h2>
                <p>
                    The history of our chapter is a work in progress, a living document if you will.
                    If you have information about fraternity history (such as the 70's which may or may not be hard to remember), please contact your web master via the contacts page (linked above).
                </p>
                <div id="part1" class="subgroup">
                    <h3>1956-1961</h3>
                    <h4>March 1956</h4>
                    <p>The Delta Sigma Phi fraternity chapter in Rolla began organizing with representatives from National Headquarters.</p>

                    <h4>April 1956</h4>
                    <p>The 'club' was organized with Ralph McCormick as the president. </p>

                    <h4>May 27, 1956</h4>
                    <p>The first 16 members were initiated by brothers from chapters at Washington Univeristy and St. Louis University.</p>

                    <h4>March 10, 1957</h4>
                    <p>
                        Delta Sigma Phi Club at Missouri S&amp;T was installed as the Delta Epsilon Chapter of the Delta Sigma Phi Fraternity.
                        It began with 29 charter members, a total membership of over 40, and Fred Dietrich as the first chapter president.
                        The speaker at that formal event was Francis "Pete" Wacker, fraternity executive director from 1947-78.
                        In addition S. O. Smith, president of Delta Sigma Phi, and Curtis L. Wilson, Dean of the University, made presentations.
                        The Faculty Adviser was Wells Leitner and one of the original ACB members was J. C. Alexander who owned Bishop's Clothing and served until his death in 1979.
                    </p>
                    <h4>Other Information</h4>
                    <p>
                        By the chartering ceremony the chapter had purchased a duplex on the north side of Rolla where Thomas Jefferson housing is today, remodeled it over Christmas break, and moved in 31 residents.
                        Several other buildings were included in the property and the chapter had an old military building moved from campus to the site for additional housing.
                    </p>
                    <p>
                        Many of the initial members of the chapter were Korean War veterans looking for a more mature environment than many housing units offered.
                        As a result hazing and many other childish activities were banned from the start.
                        The added experiences of the older members helped in the development of the chapter and the house itself.
                    </p>
                    <p>
                        Delta Sig at Rolla hit the ground running in campus leadership and actually had the highest scholastic average on campus even before being formally installed as a chapter.
                    </p>
                    <p>
                        The student body consisted of 2387 males with 711 members of 14 fraternities (nearly 30%) and 17 females.
                    </p>
                </div>
                <div id="part2" class="subgroup">
                    <h3>1962-1967</h3>
                    <h4>Fall 1966</h4>
                    <p>
                        Delta Sig flourished in Rolla and soon ran out of room.
                        The university established an area for fraternities to build new houses on Hwy E (middle Rolla exit from I-44) and Delta Sig built new facilities there for occupancy in the fall of 1966.
                        The existing site was sold to build the Thomas Jefferson Residence Halls for the school.
                        Surely the fact that the location was only a block from the regional Highway Patrol Headquarters was a coincidence.
                        The new digs included a rectangular residential building (long house) and a round social building (round house).
                    </p>
                    <p>
                        Long house had 36 two-man rooms and a single room designated for the chapter president.
                        There was one phone (364-4192) for the entire house (extension to the round house) with an intercom to notify residents of incoming calls in the evening (one of the pledge duties).
                        The room under the president was used for an extensive file system on classes that saved many brothers anguish.
                        Long house had 24-hour quiet hours, except for a half an hour each evening.
                    </p>
                    <p>
                        Round house had a small formal living room, large chapter lounge, kitchen and dining room.
                        This is where the only television was located (eventually hooked up to cable).
                        This was the site of memorable parties, frequently in association with another house on campus.
                        There were no quiet hours in the round house and made a great place to take a break from studies.
                        After the Old Chem Building burned down in the late 60's, the chapter found the dump site and constructed a patio and barbeque pit from the salvaged 1885 bricks.
                    </p>
                </div>
                <div id="part3" class="subgroup">
                    <h3>1968-1994</h3>
                    <p>
                        The chapter continued to maintain stabile membership and leadership both on campus and within the Delta Sig realm for a number of years.
                    </p>
                    <p>
                        In the late 60's there was a significant influx of university athletes into the house.
                    </p>
                    <p>
                        The chapter was known for holding leadership positions on campus (student council, IFC, Student Union Board, honor societies, and focused organizations), being very involved in campus activities, and maintaining high scholastic standards.
                    </p>
                </div>
                <div id="part4" class="subgroup">
                    <h3>1995-2005</h3>
                    <h4>Early 1990's</h4>
                    <p>
                        In the early 1990's Delta Epsilon ran into some very rough times.
                        Pledging was down, which means income was down.
                        Eventually the house could no longer afford to pay a cook.
                        Meals were prepared mostly by heating canned or prepackaged food.
                        Needless to say the house could no longer compete with the other Fraternities on campus.
                    </p>
                    <h4>Fall 1995</h4>
                    <p>
                        By the start of the Fall semester in 1995, it was clear there were not enough members and new pledges to keep the chapter afloat.
                        The chapter notified nationals that they were no longer able to sustain a chapter and were all going their separate ways.
                        Ron Hoffman and Ward Merrell, current and former ACB presidents, met with Tony Smercina from nationals to collect the Charter and exchange the chapter's assets for its debts with the university.
                        In October 1995, nationals took the Delta Epsilon Charter back to headquarters in Indianapolis and there was no longer a Delta Sigma Phi chapter in Rolla.
                    </p>
                    <h4>Handling of Chapter Assets</h4>
                    <p>
                        Round House and Long House were signed over to the university in exchange for the university paying off several thousand dollars in outstanding debt and making repairs to the roofs of both buildings to stop the leaking.
                        The buildings were used for university office space and storage for a number of years but were allowed to fall into disrepair.
                        The rectangular building was eventually demolished in 2011.
                        The round house is still used by the university (2013).
                    </p>
                </div>
                <div id="part5" class="subgroup">
                    <h3>2005-2012</h3>
                    <h4>Formation</h4>
                    <p>
                        With stimulation from national, the glimmer of Delta Sig at Rolla started again.
                        The high standards of the initial chapter were maintained as members were solicited.
                        Under the on-campus leadership of Faculty Adviser Paul Hirtz, Delta Epsilon was re-colonized in 2006 and re-chartered in 2008.
                    </p>
                    <h4>2009</h4>
                    <p>
                        In August of 2009, the chapter moved into the newly renovated Ramsey Furniture building at 8th and Rolla streets on a lease with an option to buy in five years.
                        With a lot of talented and dedicated members of the ACB, to include Ron Hoffman who had to shut down the chapter in 1995, the chapter was given the opportunity to flourish.
                        Members committed to grow, develop, and lead until they were once again recognized as leaders on campus, in the community, and with nationals.
                    </p>
                    <h4>2011</h4>
                    <p>Paul Hirtz received the Charles G. Bartell Award for excellence in leading and serving in an advisory capacity (first award issued since 2007).</p>
                    <h4>2012</h4>
                    <p>
                        In November of 2012 the house was purchased, two years ahead of the most optimistic plans.
                        Due to good financial management from the ACB, strong recruiting of quality brothers by the chapter, and support of the Rolla community, the chapter bought not only the house, but apartments and a beauty salon adjacent for future expansion.
                        They have even received donations from businesses to help with purchase of the house.
                    </p>
                    <h4>Today</h4>
                    <p>
                        On campus they maintain one of the highest grade point averages, hold leadership roles in campus organizations, and sought for input on campus operations.
                        The chapter maintains active membership in the downtown business group and helps with several special functions each year.
                        Delta Epsilon has won, and continues to win, numerous awards on campus and with nationals.
                    </p>
                </div>
            </section>
            <section id="awards" class="group" style="page-break-before: always;">
                <h2>Awards</h2>
                <div id="chapter" class="subgroup">
                    <h3>Chapter</h3>

                    <h4>Delta Sigma Phi Nationals</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Chapter Distinction Award <small>2015</small></li>
                        <li class="list-group-item">Pyramid of Excellence <small>2010, 2011, 2012, 2013, 2014</small></li>
                    </ul>

                    <h4>Missouri S&amp;T Student Council</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Remarkable Student Group <small>2011</small></li>
                        <li class="list-group-item">Community Service Award <small>2009</small></li>
                        <li class="list-group-item">Most Improved Organization Award <small>2009</small></li>
                    </ul>

                    <h4>Missouri S&amp;T Greek Life/IFC</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Outstanding Member Development Award <small>2010, 2011</small></li>
                        <li class="list-group-item">Most Improved GPA Award <small>2009</small></li>
                    </ul>

                    <h4>Missouri S&amp;T Blue Key Honor Society</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Organization of the Semester <small>2008, 2011</small></li>
                    </ul>

                    <h4>Other</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Robert H. Harris Memorial Award <small>2011</small></li>
                    </ul>
                </div>
                <div id="individuals" class="subgroup">
                    <h3>Individuals</h3>
                    <h4>Delta Sigma Phi Nationals</h4>
                    <ul class="list-group">
                        <li class="list-group-item">2011 Charles G. Bartell Outstanding Chapter Advisor Award <small>Dr. Paul Hirtz</small></li>
                    </ul>
                </div>
            </section>
</div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('body').scrollspy({
            target: '.bs-docs-sidebar',
            offset: 40
        });
    </script>
}