@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rooms";
}

@section Title
{
    @Html.Partial("_Title")
}

<style>
    rect {
        fill: lightgray;
        stroke: darkgray;
        stroke-width: 1;
    }

    rect.door {
        fill: gray;
    }

    path.room {
        fill: #278955;
        stroke: darkgray;
        stroke-width: 1;
    }

    path.room:hover, path.room:focus {
        fill: #2b975e;
        cursor: pointer;
    }

    path.nonroom {
        fill: lightgray;
        stroke: darkgray;
        stroke-width: 1;
    }

    path.stairs {
        fill: gray;
    }

    text {
        fill: white;
        font-family: 'Open Sans';
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                <p>
                    <i class="fa fa-exclamation-triangle"></i>
                    <strong>Notice:</strong> What you're seeing is an experimental portion of the website that is not yet intended to be fully functional.
                    The reason it's accessible now is because it may still serve some useful purpose in the meantime, or because it's just neat as hell.
                    So enjoy the view, and please hold off on reporting things that don't work on this page until this message is removed.
                </p>
            </div>
            <h3>2<sup>nd</sup> Floor</h3>
            <!-- The drawing is relatively close to scale; some adjustments were made to make the path values more friendly. -->
            <svg width="100%" height="100%" viewBox="0 0 1165 650" preserveAspectRatio="xMaxYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" />
                
                <!-- Rooms -->
                <path d="M 1040 0 L 1165 0 L 1165 215 L 1165 260 L 1000 260 L 1000 100 L 1040 100 z" class="room"/>
                <rect width="3" height="25" x="1000" y="225" class="door" />
                <text x="1050" y="20">201</text>

                <path d="M 870 0 L 1040 0 L 1040 100 L 1000 100 L 1000 215 L 910 215 L 910 100 L 870 100 z" class="room" />
                <rect width="25" height="3" x="965" y="212" class="door" />
                <text x="880" y="20">202</text>

                <path d="M 760 0 L 870 0 L 870 100 L 910 100 L 910 215 L 760 215 z" class="room" />
                <rect width="25" height="3" x="865" y="212" class="door" />
                <text x="770" y="20">203</text>

                <path d="M 590 0 L 760 0 L 760 215 L 590 215 z" class="room" />
                <rect width="25" height="3" x="725" y="212" class="door" />
                <text x="600" y="20">204</text>

                <path d="M 440 0 L 590 0 L 590 215 L 440 215 z" class="room" />
                <rect width="25" height="3" x="495" y="212" class="door" />
                <text x="450" y="20">205</text>

                <path d="M 290 0 L 440 0 L 440 215 L 290 215 z" class="room" />
                <rect width="25" height="3" x="300" y="212" class="door" />
                <text x="300" y="20">206</text>

                <path d="M 140 0 L 290 0 L 290 215 L 140 215 z" class="room" />
                <rect width="25" height="3" x="255" y="212" class="door" />
                <text x="150" y="20">207</text>

                <path d="M 0 0 L 140 0 L 140 215 L 0 215 z" class="room" />
                <rect width="25" height="3" x="105" y="212" class="door" />
                <text x="10" y="20">208</text>

                <path d="M 0 280 L 215 280 L 215 380 L 110 380 L 110 505 L 0 505 z" class="room" />
                <rect width="3" height="25" x="212" y="345" class="door" />
                <text x="10" y="300">209</text>

                <path d="M 0 505 L 110 505 L 110 380 L 215 380 L 215 650 L 0 650 z" class="room" />
                <rect width="3" height="25" x="212" y="390" class="door" />
                <text x="10" y="525">210</text>

                <path d="M 215 425 L 360 425 L 360 650 L 215 650 z" class="room" />
                <rect width="25" height="3" x="325" y="425" class="door" />
                <text x="225" y="445">211</text>

                <path d="M 360 425 L 505 425 L 505 650 L 360 650 z" class="room" />
                <rect width="25" height="3" x="370" y="425" class="door" />
                <text x="370" y="445">212</text>

                <path d="M 505 425 L 685 425 L 685 650 L 505 650 z" class="room" />
                <rect width="25" height="3" x="515" y="425" class="door" />
                <text x="515" y="445">213</text>

                <path d="M 685 425 L 830 425 L 830 650 L 685 650 z" class="room" />
                <rect width="3" height="25" x="827" y="435" class="door" />
                <text x="695" y="445">214</text>

                <path d="M 905 420 L 1165 420 L 1165 650 L 1080 650 L 1080 580 L 905 580 z" class="room" />
                <rect width="3" height="25" x="905" y="445" class="door" />
                <text x="915" y="440">215</text>

                <path d="M 1000 260 L 1165 260 L 1165 420 L 925 420 L 925 280 L 1000 280 z" class="room" />
                <rect width="3" height="25" x="925" y="385" class="door" />
                <text x="935" y="300">216</text>

                <!-- Mechanical closet -->
                <path d="M 290 280 L 480 280 L 480 360 L 290 360 z" class="nonroom"/>
                <rect width="25" height="3" x="405" y="280" class="door" />
                <!-- Bathroom -->
                <path d="M 480 280 L 530 280 L 530 215 L 705 215 L 705 280 L 810 280 L 810 360 L 480 360 z" class="nonroom"/>
                <rect width="25" height="3" x="495" y="280" class="door"/>
                <rect width="25" height="3" x="775" y="280" class="door" />
                <!-- Mechanical closet by 216 -->
                <path d="M 905 280 L 925 280 L 925 355 L 905 355 z" class="nonroom"/>
                <rect width="3" height="25" x="905" y="320" class="door" />
                <!-- Stairs -->
                <path d="M 905 580 L 1080 580 L 1080 650 L 905 650 z" class="stairs"/>
                <!-- Fire Escape Door -->
                <rect width="3" height="25" x="0" y="235" class="door" />
            </svg>

            <h3>1<sup>st</sup> Floor</h3>

            <svg width="100%" height="100%" viewBox="0 0 1310 650" preserveAspectRatio="xMaxYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" />

                <!-- Rooms -->
                <path d="M 95 0 L 280 0 L 280 265 L 95 265 z" class="room" />
                <text x="105" y="20">104</text>
                <path d="M 280 0 L 395 0 L 395 215 L 280 215 z" class="room" />
                <text x="290" y="20">103</text>
                <path d="M 395 0 L 600 0 L 600 150 L 395 150 z" class="room" />
                <text x="405" y="20">102</text>
                <path d="M 600 0 L 810 0 L 810 140 L 600 140 z" class="room" />
                <text x="610" y="20">101</text>

                <!-- Mechanical closet -->
                <path d="M 445 215 L 505 215 L 505 310 L 445 310 z" class="nonroom" />
                <!-- Residential bathroom -->
                <path d="M 505 215 L 795 215 L 795 380 L 405 380 L 505 380 z" class="nonroom" />
                <!-- Commerical bathroom -->
                <path d="M 715 140 L 810 140 L 810 215 L 715 215 z" class="nonroom" />
                <!-- Sink/water heater closet -->
                <path d="M 680 140 715 140 L 715 215 L 680 215 z" class="nonroom" />
                <!-- Study rooms -->
                <path d="M 810 0 L 950 0 L 950 140 L 810 140 z" class="nonroom" />
                <path d="M 950 0 L 1080 0 L 1080 140 L 950 140 z" class="nonroom" />
                <path d="M 795 215 L 905 215 L 905 380 L 795 380 z" class="nonroom" />
                <!-- Conference room -->
                <path d="M 1080 0 L 1310 0 L 1310 210 L 1020 210 L 1020 235 L 1020 210 L 1080 210 z" class="nonroom" />
                <!-- ACB office -->
                <path d="M 1020 335 L 1020 360 L 1310 360 L 1255 360 L 1255 525 L 1020 525 z" class="nonroom" />
                <!-- Media room -->
                <path d="M 480 380 L 905 380 L 1020 460 1020 650 L 560 650 L 560 585 L 480 585 z" class="nonroom" />
                <!-- Work room -->
                <path d="M 95 265 L 280 265 L 280 650 L 95 650 L 95 550 L 95 650 L 0 650 L 0 485 L 95 485 z" class="nonroom" />
                <!-- Cleaning closet -->
                <path d="M 280 265 L 320 265 L 320 375 L 280 375 z" class="nonroom" />
                <!-- Secret area -->
                <path d="M 280 450 L 405 450 L 405 380 L 405 595 L 480 595 L 480 450 L 560 450 L 560 650 L 280 650 z" class="nonroom" />
                <!-- Stairs -->
                <path d="M 405 450 L 480 450 L 480 595 L 405 595 z" class="stairs"/>
                <path d="M 1020 585 L 1255 585 L 1255 650 L 1020 650 z" class="stairs" />
            </svg>
        </div>
    </div>
</div>
