<div class="alert alert-warning">
    <strong>Course Shorthands</strong>
    <hr/>
    <p>
        Here are a few examples:
        <ul>
            <li>Aero Eng ####</li>
            <li>Art ####</li>
            <li>Bio Sci ####</li>
            <li>Chem ####</li>
            <li>Civil Eng ####</li>
            <li>Comp Eng ####</li>
            <li>Comp Sci ####</li>
            <li>Econ ####</li>
            <li>Eng Mgt ####</li>
        </ul>
        If you're unsure how to format it, go look up how existing courses for the same department are formatted.
        If you're still unsure, talk to the Academic Chairman.
    </p>
</div>
