@model Dsp.Entities.Major
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete Major";
}

<div class="container-fluid">
    <div class="row row-space">
        <div class="col-xs-12">
            <a href="@Url.Action("Index")" class="btn btn-sm btn-default">
                <i class="fa fa-caret-left"></i> Back to Majors
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <p>Are you sure you want to delete the @Model.MajorName major?</p>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
