@model Dsp.Data.Entities.SoberSignup
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Sober Signup Confirmation";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading text-center">
                    Are you sure you want to signup for the 
                    <strong>@Model.SoberType.Name</strong> 
                    sober shift on 
                    <strong>@Model.DateOfShift</strong>? <br />
                    <u>
                        You will have to contact the current Sergeant-at-Arms to cancel.
                    </u>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Signup", "Schedule", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", Model.SignupId)

                        <div class="form-group col-md-4 col-md-offset-4">
                            <input type="submit" value="Yes" class="btn btn-default btn-block" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
