@model DeltaSigmaPhiWebsite.Areas.Members.Models.AccountInformationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account";
}
@section Title
{
    @Html.Partial("_Title")
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (User.IsInRole("Administrator") || User.IsInRole("Academics") ||
                User.IsInRole("House Manager") || User.IsInRole("Secretary") ||
                User.Identity.Name == Model.MemberInfo.UserName)
            {
                <div class="pull-right" style="margin-bottom: 20px">
                    @Html.ActionLink("Edit Member", "Edit", "Account", new { userName = Model.MemberInfo.UserName }, new { @class = "btn btn-default btn-sm" })
                    @if (User.IsInRole("Administrator"))
                    {
                        using (Html.BeginForm("ResetPassword", "Account", new { userName = Model.MemberInfo.UserName }, FormMethod.Post, new { style = "display: inline" }))
                        {
                            <button type="submit" class="btn btn-danger btn-sm">Reset Member's Password</button>
                        }
                    }
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @{ Html.RenderPartial("~/Areas/Members/Views/Account/_MemberInformationPartial.cshtml", Model.MemberInfo); }
            @{ Html.RenderPartial("~/Areas/Members/Views/Addresses/_MyAddressesPartial.cshtml", Model.MemberInfo.Addresses); }
            @{ Html.RenderPartial("~/Areas/Members/Views/PhoneNumbers/_MyPhoneNumbersPartial.cshtml", Model.MemberInfo.PhoneNumbers); }
        </div>
        <div class="col-sm-6">
            @{ Html.RenderPartial("~/Areas/Edu/Views/Classes/_ClassSchedulePartial.cshtml", Model.ThisSemesterCourses); }

            @if (User.Identity.Name == Model.MemberInfo.UserName)
            {
                @Html.Partial(ViewBag.HasLocalPassword ? "_ChangePasswordPartial" : "_SetPasswordPartial", Model.ChangePasswordModel)
            }
        </div>
    </div>
</div>