@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "External Login Failure";
}
@section Title
{
    @Html.Partial("_TitleExternal")
}

<div class="container">
    <div class="row">
        <div class="col col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 text-center">
            <h3 class="">
                <small>
                    Unfortunately, you cannot sign in with an external provider until you set it up with your local website account.
                    Sign in with your local account first and then follow the instructions in your account profile page.
                </small>
            </h3>
            <div class="alert alert-danger">
                <strong>
                    <i class="fa fa-exclamation-triangle"></i>
                    We do not allow account registration with an external provider.
                    You must first be registered by existing member with appropriate permissions.
                </strong>
            </div>
            <p>
                <a href="@Url.Action("SignIn", "Account", new {area = "Members"})"
                   class="btn btn-sm btn-default">
                    <i class="fa fa-angle-double-left"></i>
                    Go Back
                </a>
            </p>
        </div>
    </div>
</div>
