@{
    Layout = "~/Views/Shared/ExternalLayout.cshtml";
    ViewBag.Title = "Forgot Username Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Please check your email to receive your username.
            </p>
        </div>
    </div>
</div>
