@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/ExternalLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Account" asp-action="ForgotPassword" asp-antiforgery="true" method="post" role="form">
                <div class="mb-3">
                    <label for="Email" class="form-label">Email address</label>
                    <input type="Email" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="form-text">Enter your email to receive an email to reset your password.</div>
                </div>
                <button type="submit" class="btn btn-success">Email Link</button>
            </form>
        </div>
    </div>
</div>