@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Forgot Username Confirmation";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="clearfix" style="margin-top: 100px">
                <img class="img-responsive float-start" src="~/Images/MobileTouch-57x57.png" alt="DSP" width="35" style="margin-right:10px">
                <h4>@ViewBag.Title</h4>
            </div>
            <hr />
            <p>
                Please check your email to receive your username.
            </p>
        </div>
    </div>
</div>
