@{
    Layout = "~/Views/Shared/ExternalLayout.cshtml";
    ViewBag.Title = "Confirmation Email Resent!";
}

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Check your email for your new confirmation link.
            </p>
        </div>
    </div>
</div>
