@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Alumni Connect";
    var cstZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    var nowCst = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, cstZone);
}
@section Title
{
    @Html.Partial("_TitleExternal")
}
@section AdditionalMeta{
    <meta name="description" content="">
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Alumni</a></li>
                <li class="active">Connect</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="lead">
                Events and Volunteering
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="https://www.dropbox.com/sh/5kei5fwigyaz5l2/7zbXAJmgYL"
                   class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">Events</h4>
                    <p class="list-group-item-text text-warning">
                        <i class="fa fa-calendar fa-big"></i>
                    </p>
                </a>
                <div class="list-group-item text-left">
                    Here you can find a list of past and future fraternity events that you are encouraged to join.
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="mailto:GTHay@Design9.com"
                   class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">Volunteer</h4>
                    <p class="list-group-item-text text-success">
                        <i class="fa fa-globe fa-big"></i>
                    </p>
                </a>
                <div class="list-group-item text-left">
                    We need brothers to help us with both alumni and undergraduate member matters.
                    The possibilities for giving back vary greatly in time commitment, and in many case,s you do not even have to travel to Rolla.
                    For more info contact ACB President Glenn Hay at: <a href="mailto:gthay@design9.com" target="_blank">gthay@design9.com</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="lead">
                Help Us Improve Our Records
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="https://docs.google.com/forms/d/1sTpnrxoNsjxxzeqOJIUfVtZ4TfGsFojfqj-8Lbd0O98/viewform"
                   class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">Update Your Contact Info</h4>
                    <p class="list-group-item-text text-info">
                        <i class="fa fa-pencil fa-big"></i>
                    </p>
                </a>
                <div class="list-group-item text-left">
                    Providing your contact information will subscribe you to alumni and chapter news,
                    as well as help us have a complete record of our past members.
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="https://docs.google.com/forms/d/1fXkbVsQEUIHELwbIkx462zocZ5DSToFe4l-9VQAn7d8/viewform"
                   class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">Help Us Find Missing Brothers</h4>
                    <p class="list-group-item-text text-danger">
                        <i class="fa fa-question-circle fa-big"></i>
                    </p>
                </a>
                <div class="list-group-item text-left">
                    We do not have information about all of our past brothers.
                    We are still looking for the contact information of the brothers on
                    <a href="https://docs.google.com/spreadsheets/u/1/d/1fnJlop4r8b8g3sAVDlqnEhfIXwWtCEuHTH1MjL7UlkM/pub?output=html" target="_blank">this list</a>.
                    If you have information about someone we are missing, please click the question mark above and provide their information.
                    Alternatively, you could contact them yourself and ask them to provide their own information here on our website.
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="list-group">
                <a href="https://docs.google.com/spreadsheet/pub?key=0Aif35UoJBJWHdFRDdmMzQUtnZWdPUF92d0lrWjNhQmc&output=html"
                   class="list-group-item" target="_blank">
                    <h4 class="list-group-item-heading">Report Bond Eternal Alumni</h4>
                    <p class="list-group-item-text">
                        <i class="fa fa-anchor fa-big"></i>
                    </p>
                </a>
                <div class="list-group-item text-left">
                    This link will take you to a list of brothers who have passed into the Bond Eternal.
                    When you hear of the loss of a brother, please email us at:
                    <a href="mailto:delta.epsilon.acb@gmail.com" target="_blank">delta.epsilon.acb@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>